STRING FUNCTIONS

In [1]:
s="my name is Chekith"

In [7]:
print(len(s))
print(s[0])
print(s[6])
print(s[-2])
print(s[::-1])
print(s[2:7])
print(s.upper())
print(s.lower())

18
m
e
t
htikehC si eman ym
 name
MY NAME IS CHEKITH
my name is chekith

LIST FUNCTIONS

In [27]:
l1=[1,2,3,'name','hello','hi']
print(l1)
print(l1[3])

[1, 2, 3, 'name', 'hello', 'hi']
name

In [28]:
l1.append("meet")
l1

[1, 2, 3, 'name', 'hello', 'hi', 'meet']

In [29]:
l1.insert(2,"come")
l1

[1, 2, 'come', 3, 'name', 'hello', 'hi', 'meet']

In [30]:
l1.pop(6)
l1

[1, 2, 'come', 3, 'name', 'hello', 'meet']

TUPLE FUNCTIONS

In [32]:
tup=(1,4,8,"all","more")
tup

(1, 4, 8, 'all', 'more')

In [38]:
print(tup[3])
print(tup.count("all"))

all
1

STUDENT MARKS

In [39]:
num=int(input("enter num : "))
if num>=90 and num<=100:
  print("A")
elif num>=80 and num<90:
  print("B")
elif num>=70 and num<80:
  print("C")
else:
  print("Fail")

enter num : 67
Fail

STRING PALINDROME

In [45]:
s1="radan"
x=s1[::-1]
if s1==x:
  print("Palindrome")
else:
  print("Not a palindrome")

Not a palindrome

PRIME NUMBER CHECK

In [62]:
num=int(input("Enter Number : "))
count=0
for i in range(1,num+1):
  if num%i==0:
    count+=1

if count==2:
  print("prime")
else:
  print("not prime")

Enter Number : 7
prime

FIBONACCI

In [65]:
a,b=0,1
for _ in range(10):
  a,b=b,a+b
  print(a)

1
1
2
3
5
8
13
21
34
55

In [71]:
a=0
b=1
for i in range(10):
  i=a+b
  a=b
  b=i
  print(a)

1
1
2
3
5
8
13
21
34
55

EVEN OR ODD

In [72]:
num1=int(input("Enter num:"))
if num%2==0:
  print("Even")
else:
  print("Odd")

Enter num:5
Odd

IF EVEN - @

In [76]:
for i in range(1,101):
  if i%2==0:
    print("@",end=',')
  else:
    print(i,end=',')

1,@,3,@,5,@,7,@,9,@,11,@,13,@,15,@,17,@,19,@,21,@,23,@,25,@,27,@,29,@,31,@,33,@,35,@,37,@,39,@,41,@,43,@,45,@,47,@,49,@,51,@,53,@,55,@,57,@,59,@,61,@,63,@,65,@,67,@,69,@,71,@,73,@,75,@,77,@,79,@,81,@,83,@,85,@,87,@,89,@,91,@,93,@,95,@,97,@,99,@,

SQUARE NUMBERS

In [79]:
x=[i**2 for i in range(1,9)]
x

[1, 4, 9, 16, 25, 36, 49, 64]

DICT KEY AND VALUE

In [90]:
def dicts():
  x={"name":"chekith","age":22,"city":"hyd"}
  a= x.keys()
  return a

def display():
  x={"name":"chekith","age":22,"city":"hyd"}
  print(x.items())

print(dicts())
print(display())

dict_keys(['name', 'age', 'city'])
dict_items([('name', 'chekith'), ('age', 22), ('city', 'hyd')])
None

USER DETAILS

In [104]:


def details():
  name=input("Enter name : ")
  age=int(input("Enter age : "))
  city=input("Enter city : ")
  return name,age,city
def display(name,age,city):
  print(name)
  print(age)
  print(city)

user_name,user_age,user_city=details()
print(display(user_name,user_age,user_city))

Enter name : chekith
Enter age : 22
Enter city : Hyd
chekith
22
Hyd
None